<div class="smka-style" v-if="styleConfig">
    <h3>Stroke</h3>

    <div><label>Width: <input type="range" min="1" max="20" v-model="strokeWidth"></label></div>
    <!-- <div><label>Style: <input type="range" min="1" max="20" v-model="strokeWidth"></label></div> -->
    <div><label>Colour: <input type="color" v-model="strokeColor"></label></div>
    <div><label>Opacity: <input type="range" min="0" max="1" step="0.05" v-model="strokeOpacity"></label></div>

    <h3>Fill</h3>

    <div><label>Colour: <input type="color" v-model="fillColor"></label></div>
    <div><label>Opacity: <input type="range" min="0" max="1" step="0.05" v-model="fillOpacity"></label></div>

    <h3>Marker</h3>
    
</div>

<!-- 
"style": {
    "strokeWidth": 1,
    "strokeStyle": "1, 1",
    "strokeColor": "#000000",
    "strokeOpacity": 0.8,
    "fillColor": "#000000",
    "fillOpacity": 0.5,
    "markerSize": [
        20,
        20
    ],
    "markerOffset": [
        10,
        0
    ]
}, 
-->
