<div class="smka-tool-baseMaps">
    <cfg-tool id="baseMaps">
        <div><label><input type="checkbox" v-model="choices" value="Topographic">Topographic</label></div>
        <div><label><input type="checkbox" v-model="choices" value="Streets">Streets</label></div>
        <div><label><input type="checkbox" v-model="choices" value="Imagery">Imagery</label></div>
        <div><label><input type="checkbox" v-model="choices" value="Oceans">Oceans</label></div>
        <div><label><input type="checkbox" v-model="choices" value="NationalGeographic">National Geographic</label></div>
        <div><label><input type="checkbox" v-model="choices" value="ShadedRelief">Shaded Relief</label></div>
        <div><label><input type="checkbox" v-model="choices" value="DarkGray">Dark Gray</label></div>
        <div><label><input type="checkbox" v-model="choices" value="Gray">Gray</label></div>
    </cfg-tool>
</div>