<div class="smka-tools">
    <h3>Tools</h3>

    <cfg-tool-about></cfg-tool-about>
    <cfg-tool-baseMaps></cfg-tool-baseMaps>
    <cfg-tool-coordinate></cfg-tool-coordinate>
    <cfg-tool-directions></cfg-tool-directions>
    <cfg-tool-dropdown></cfg-tool-dropdown>
    <cfg-tool-identify></cfg-tool-identify>
    <cfg-tool-layers></cfg-tool-layers>
    <cfg-tool-location></cfg-tool-location>
    <cfg-tool-markup></cfg-tool-markup>
    <cfg-tool-measure></cfg-tool-measure>
    <cfg-tool-menu></cfg-tool-menu>
    <cfg-tool-minimap></cfg-tool-minimap>
    <cfg-tool-pan></cfg-tool-pan>
    <!-- <cfg-tool-query></cfg-tool-query> -->
    <cfg-tool-scale></cfg-tool-scale>
    <cfg-tool-search></cfg-tool-search>
    <cfg-tool-select></cfg-tool-select>
    <!-- <cfg-tool-version></cfg-tool-version> -->
    <cfg-tool-zoom></cfg-tool-zoom>
<!--        <template slot-scope="ss">
            <div><label><input type="checkbox" v-bind:value="ss.toolProp( 'mouseWheel' )" v-on:input="" v-model="ss.toolProp( 'mouseWheel' )">MouseWheel</label></div>    
            <div><label><input type="checkbox" v-model="ss.toolProp( 'doubleClick' )">DoubleClick</label></div>    
            <div><label><input type="checkbox" v-model="ss.toolProp( 'box' )">Box</label></div>    
            <div><label><input type="checkbox" v-model="ss.toolProp( 'control' )">Control</label></div>    
        </template>
    </cfg-tool> -->

</div>